.btn {
  border-width: 0;
  border-bottom-width: 1px;

  &:active,
  &.active {
    border-bottom-width: 0;
    border-top-width: 1px;
    .box-shadow(inset 0 2px 16px rgba(0,0,0,.25));
  }

  &-link {
    &:active,
    &.active {
      border-bottom-width: 1px;
      border-top-width: 0;
      .box-shadow(none);
    }
  }
}

.btn:focus, .btn:active, .btn:focus {
  outline: 0 !important;
}

.btn-primary {
  .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
}

// Success appears as green
.btn-success {
  .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
}

// Info appears as blue-green
.btn-info {
  .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
}

// Warning appears as orange
.btn-warning {
  .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
}

// Danger and error appear as red
.btn-danger {
  .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
}
