// Tabs

.nav-tabs {
  border-bottom: 1px solid @gray-light;
  > li {
    > a {
      padding: @padding-base-vertical @padding-base-horizontal;
      margin-right: 4px;
      color: @gray;
      background-color: @gray-light;
      border: 1px solid @gray-light;
      border-bottom-color: @gray-light;
      &:hover,
      &:focus {
        background-color: @gray-light;
        border: 1px solid @gray-light;
        border-bottom-color: @gray-light;
      }
    }

    &.active > a {
      &,
      &:hover,
      &:focus {
        color: @text-color;
        background-color: @gray-lighter;
        border: 1px solid @gray-light;
        border-bottom-color: transparent;
        cursor: default;
      }
    }
  }
}

.tab-content {
  padding: @padding-base-horizontal;
  background-color: @gray-lighter;
  border: 1px solid @gray-light;
  border-top-width: 0;
}